{
  "$schema": "node_modules/wrangler/config-schema.json",
  "name": "contact-generator",
  "main": "src/index.ts",
  "compatibility_date": "2025-11-19",
  "preview_urls": false,
  "workers_dev": true,
  "observability": {
    "enabled": false,
    "head_sampling_rate": 1,
  },
  "routes": [
  ],
  "placement": {
    "mode": "off",
  },
  "assets": {
    "directory": "./app/dist",
    "binding": "ASSETS"
  },
}
